.sliderMain {
    position: relative;
    margin: 18px 0;
    overflow-x: hidden;
    width: 50%;
    margin: auto;
}
.sliderDiv {
    position: relative;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    /* overflow: hidden; */
    white-space: nowrap;
    width: 95%;
    transition: all 0.75s ease;
}

.rightArrow {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    cursor: pointer;
    user-select: none;
    height: 100%;
    background: #fff;
    display: inline-flex;
    width: 40px;
    text-align: right;
    flex-flow: row-reverse;
}
.rightArrow img {
    width: 80%;
}
.sliderAnimation {
    animation: sliderAnimation 1.2s ease-in-out infinite;
}
.SlidedContent {
    padding: 0 8px;
    position: relative;
    left: 0;
    width: 100%;
}
.SlidedContent:first-child {
    padding-left: 0;
}

@keyframes sliderAnimation {
    0% {
    }
    100% {
        transform: translateX(-17px);
    }
}
